@import url(http://fonts.googleapis.com/css?family=Varela+Round|Montserrat);
body {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
.uk-container{
	max-width: 100% !important;
    z-index: -9999;
}
.uk-container {
	margin-top:15px;
}
.uk-grid>* {
	margin:0 0 0 0px;

	
}

.uk-grid-border  {
	padding-left:0px;
	margin-left:0px;
	border-right:1px solid #dddddd;
}

.uk-nav-header {
	padding-left:0px !important;
}
.uk-nav-header a {
	padding-top:0;
	padding-left:0px;
	position: fixed;
	

}

.uk-nav li {
	margin-left: 0px;
	padding-top: 15px;
	
    
    
}

.uk-nav li a {

	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color:#4f4f4f;
	text-align: left;
	font-size:1em;
   


}

.uk-nav li a:hover,
.uk-nav li a:active
.uk-nav li a:focus,
.uk-nav li.uk-active a {
	background:transparent;
	color:#a41034;
	
}

.uk-main {
	margin:0 5%;
	padding:0;
	text-align: left;
}


.uk-article p {
	font-family: 'Montserrat', sans-serif;
}

.uk-article-title {
	font-family: 'Varela Round', sans-serif;
	font-size:3em;
	text-transform: uppercase;
	vertical-align: middle
}


.uk-badge {
	padding:3px;
	margin:3px;
	font-size:.8em;
	font-weight:normal;
}




.uk-description-list-horizontal > dt {
	margin-left:auto;
	margin-right:auto;

}
.uk-description-list-horizontal > dd{
	margin-left:auto;
	margin-right:auto;
	
}

output { 
      position: absolute;
      background-image: -moz-linear-gradient(top, #444444, #999999);
      background-image: -o-linear-gradient(top, #444444, #999999);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999));
      background-image: -webkit-linear-gradient(top, #444444, #999999);
      width: 40px; 
      height: 30px; 
      text-align: center; 
      color: white; 
      border-radius: 10px; 
      display: inline-block; 
      font: bold 15px/30px Georgia;
      bottom: 175%;
      left: 0;
      margin-left: -1%;
    }
	  output:after { 
	    content: "";
	    position: absolute;
	    width: 0;
	    height: 0;
	    border-top: 10px solid #999999;
	    border-left: 5px solid transparent;
	    border-right: 5px solid transparent;
	    top: 100%;
	    left: 50%;
	    margin-left: -5px;
	    margin-top: -1px;
	  }
